other/flusso node red smart-brach
[{"id":"4d05a8d0.d46368","type":"tab","label":"Smart Bracelets","disabled":false,"info":""},{"id":"dc6cfb14.b4484","type":"exec","z":"4d05a8d0.d46368","command":"cd \"/home/user/Desktop/Smart Bracelets\" ; make micaz sim ; python RunSimulationScript.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":560,"y":120,"wires":[["4f59fa.aab71608","6d707edf.1e16c","a20be649.5c34f","30cd19cb.ff73be"],["4f59fa.aab71608"],["4f59fa.aab71608"]]},{"id":"86d4e7eb.35c9f","type":"inject","z":"4d05a8d0.d46368","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["dc6cfb14.b4484"]]},{"id":"a20be649.5c34f","type":"function","z":"4d05a8d0.d46368","name":"FALLING status received","func":"if(msg.payload.includes(\"FALLING status received\")){\n    \n    const regex = /FALLING status received.{0,209}/sg\n    \n    //var text = msg.payload\n    \n    var found = msg.payload.match(regex)\n    \n    //msg.found = found\n    //msg.foundLen = found.length\n    msg.payload = []\n    \n    if(found.length > 0){\n        \n        found.forEach( text =>{\n        \n            //Search device number\n            var device = text.match(/\\(\\d\\)/g)[0].charAt(1)\n            device = Number.parseInt(device) +1\n        \n            //Rimuove tuttti i \"(1)\"\n            found2 = text.replace(/\\(\\d\\)/g,'')\n            //console.error(found2)\n            //msg.found2 = found2\n    \n            //Restituisce solo i valori di x,y\n            found3 = found2.match(/[\\d]*[\\d]/g);  \n            //console.log(found3)\n            //msg.payload.push(found3)\n            \n            msg.payload.push('************ ALLARM FALLING of device: '+device+' ************' + '\\nReceived falling status in\\nX: ' + found3[0] + '\\nY: ' + found3[1])\n    \n        } )\n        \n        return msg\n    \n    }else{\n        return null\n    }\n}else{\n    return null\n}","outputs":1,"noerr":12,"x":610,"y":280,"wires":[["d702ae02.171f58"]]},{"id":"d702ae02.171f58","type":"debug","z":"4d05a8d0.d46368","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":840,"y":280,"wires":[]},{"id":"30cd19cb.ff73be","type":"function","z":"4d05a8d0.d46368","name":"MISSING status received","func":"if(msg.payload.includes(\"LAST RECEIVED POSITION\")){\n    \n    const regex = /LAST RECEIVED POSITION.{0,209}/s\n    \n    var text = msg.payload\n    \n    var found = text.match(regex)\n    \n    msg.payload = []\n    \n    if(found.length > 0){\n        \n        found.forEach( text =>{\n        \n            //Search device number\n            var device = text.match(/\\(\\d\\)/g)[0].charAt(1)\n            device = Number.parseInt(device) +1\n        \n            //Rimuove tuttti i \"(1)\"\n            found2 = text.replace(/\\(\\d\\)/g,'')\n            //console.error(found2)\n    \n            //Restituisce solo i valori di x,y\n            found3 = found2.match(/[\\d]*[\\d]/g);  \n            //console.log(found3)\n            \n            msg.payload.push('************ ALLARM MISSING of device: '+device+' ************' + '\\nLast received status in\\nX: ' + found3[0] + '\\nY: ' + found3[1])\n    \n        } )\n        \n        return msg\n    \n    }else{\n        return null\n    }\n}else{\n    return null\n}","outputs":1,"noerr":0,"x":610,"y":340,"wires":[["45128e34.d6b428"]]},{"id":"45128e34.d6b428","type":"debug","z":"4d05a8d0.d46368","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","x":840,"y":340,"wires":[]},{"id":"e28b4008.c7aa48","type":"inject","z":"4d05a8d0.d46368","name":"Test only","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["ba65b5bc.b1ff"]]},{"id":"ba65b5bc.b1ff","type":"function","z":"4d05a8d0.d46368","name":"input test","func":"msg.payload = \"DEBUG (1): *****************************DEBUG (1): ** FALLING status received **DEBUG (1): ** from the coupled device **DEBUG (1): *****************************DEBUG (1): ** FALLING POSITIONS       **DEBUG (1): **X:      11111           **DEBUG (1): ** Y:      22222           **DEBUG (1):*****************************DEBUG (1): *****************************DEBUG (1):** FALLING status received **DEBUG (1): ** from the coupled device **DEBUG (1):*****************************DEBUG (1): ** FALLING POSITIONS       **DEBUG (1):** X:      11561           **DEBUG (1): ** Y:      61547           **DEBUG (1):*****************************\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":300,"wires":[["a20be649.5c34f","30cd19cb.ff73be"]]},{"id":"4f59fa.aab71608","type":"debug","z":"4d05a8d0.d46368","name":"","active":false,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","x":1020,"y":40,"wires":[]},{"id":"6d707edf.1e16c","type":"file","z":"4d05a8d0.d46368","name":"Write TossimLog.txt","filename":"/home/user/Desktop/Smart Bracelets/other/TossimLog.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":620,"y":220,"wires":[[]]}]
